.container {
  height: 100vh;
  display: flex;
  color: rgb(0, 0, 0);
  flex-direction: column;
  align-items: center;
  margin: 10vh;
}
.writeForm {
  justify-items: center;
  justify-content: center;
}
.title {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 400px;
  margin: 20px 0px 20px 0px;
  align-content: center;
  justify-content: center;
}

.button {
  font-size: 16px;
  font-family: "Roboto";
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  background: #ffffff;
  color: #333;
}

.description {
  display: block;
  font-family: "Roboto", sans-serif;
  /* color: #333; */
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  width: 400px;
  height: 300px;
  margin: 20px 0px 20px 0px;
}
.title:focus-visible {
  outline: none;
}
.description:focus-visible {
  outline: none;
}

.imageContainer {
  margin-top: 30px;
  border-radius: 0.6rem;
}
.image {
  width: 60vh;
  height: 30vh;
  object-fit: "cover";
  border-radius: 0.6rem;
}
.categories {
  background-color: black;
  color: black;
}
