.settings {
  margin: 80px 100px 100px 100px;
  display: flex;
  background: #ffffff;
  border-radius: 1rem;
  padding: 0px 50px 0px 50px;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsTitleUpdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(20, 0, 109);
}

.settingsTitleDelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingsPP > img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: rgb(27, 3, 168);
  cursor: pointer;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsPPInput {
  width: 30%;
}

.settingsForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingsSubmitButton {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 19, 128);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsSubmitButton:hover {
  background-color: rgb(71, 78, 121);
}

.changeProfilePicture {
  align-self: center;
  width: fit-content;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 19, 128);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changeProfilePicture:hover {
  background-color: rgb(71, 78, 121);
}
