.container {
  display: block;
  margin-top: auto;
  justify-content: center;
  height: fit-content;
  margin-bottom: 10px;
}
.text {
  font-size: 50px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}
